* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #A9D7FF;
  font-size: 20px;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.user-choice p, .enemy-choice p {
  margin: 10px 0;
}

#vincitore {
  color: red;
}
